@font-face {
    font-family: courier;
    src: url(../src/Components/back/font/Courier-BOLD.ttf);
}

html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    //font-family: 'Univers TE20 Thin', sans-serif;

    font-family: courier;
    letter-spacing: 0.5px;
}

#root {
    flex: 1 0 auto;
}

.container.nav.bottom {
    flex-shrink: 0;
}
